html, body {
    font-size: 12.5px;
    margin: 0;
    padding: 10px;
    font-family: Courier, Lucida Sans Typewriter, Lucida;
    font-weight: 600;
    letter-spacing: .15em;
}

.DEMAFORPAGE, .DEMAFORPAGE2, .DEMAFORPAGE3 {
    width: 100%;
    height: auto;
}